*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.wrapper{
    width: 80%;
    margin: 0 auto;
}

.button{
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    background-color: white     ;
}
/* common */

/* header */
header{
    height: 70px;
    width: 100%;
    background-color: #404EED;
}

header img{
   vertical-align: middle;
}

header .wrapper{
   position: relative;
   transform: translate(0, 50%);
}


nav,li{
    display: inline-block;
}
nav{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
nav li>a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
header .wrapper .button{
    float: right;
}
/* header */


/* banner */
.banner{
    width: 100%;
    position: relative;
}

.banner img{
    width: 100%;
    object-fit: cover;
}

.banner .wrapper{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate( -50%, -50%);
   width: 40%;
   color: white;
   text-align: center;
}


.banner .wrapper>*{
  margin: 20px;
}

.wrapper i{
    margin: 0 10px;
}

body > main > div > div > div:nth-child(3){
    color: black;
}
body > main > div > div > div:nth-child(4){
    background-color: black;
}

/* banner */

/* debug */

/* debug */