*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.clearfix{
    content: "" ; 
    clear:both; 
    display: table; 
}

body{
    font-size: 1.3em;
} 

.wrapper{
    width: 60%;
    margin: 0 auto;
}

.button{
    display: inline-block;
    border-radius: 20px;
    background-color: white     ;
}

.grigio{
    background-color: #f6f6f6;
}

.sinistra{
    float: left;
}

.destra{
    float: right;
}
/* common */

/* header */
header{
    height: 70px;
    width: 100%;
    background-color: #404EED;
}

header img{
   vertical-align: middle;
}

header .wrapper{
   position: relative;
   transform: translate(0, 50%);
   line-height: 34px;
}


nav,li{
    display: inline-block;
}
nav{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
nav li>a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
header .wrapper .button{
    float: right;
    padding: 0 10px;
}

main .button{
    font-size: 20px;
    padding: 10px 10px;
}
/* header */


/* banner */
.banner{
    width: 100%;
    position: relative;
}

.banner img{
    width: 100%;
    object-fit: cover;
}

.banner .wrapper{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate( -50%, -50%);
   width: 40%;
   color: white;
   text-align: center;
}


.banner .wrapper>h1,.banner .wrapper>p{
  margin: 20px;
}
.banner .wrapper>.button{
  margin: 10px;
}

.wrapper .button i{
    margin: 0 10px;
}

.banner .button {
   padding: 10px;
}

body > main > div > div > div:nth-child(3){
    color: black;
}
body > main > div > div > div:nth-child(4){
    background-color: black;
}


/* testo */
.testo>*{
    padding: 20px 0;
}


.testo .text{
    /* width: 40%; */
    padding-top: 20px;
}

.grigio:last-child{
    text-align: center;
}

.grigio:last-child h3{
    background-image: url(../img/stars.svg);
    background-size: cover;
    display: block;
    width: 80%;
    margin: 20px auto;
}

.grigio:last-child .button{
   color: white;
   background-color: #5865f2;
}
/* testo */

/* banner */

/* footer */
footer{
    background-color: #23272A;
    color: white;
}

footer .wrapper:first-child i{
    margin: 0 10px 0 0 ;
}

footer .wrapper:first-child *{
    margin: 10px 0;
}

footer .wrapper:first-child li:first-child,footer .wrapper:first-child h3{
    color:#5865f2
}

footer .wrapper:first-child div{
    width: calc(60% / 4)
}

footer .wrapper:first-child div:first-child{
    width: 40%;
}

footer .wrapper:first-child div{
    display: inline-block;
    vertical-align: top;
}
footer li{
    display: block;
}

footer .wrapper:first-child{
    border-bottom: 2px solid blue;
}

footer .wrapper:last-child{
   padding: 20px 0;
   line-height: 39px;
}
footer .wrapper:last-child .button{
   padding: 0 20px;
   background-color: #5865f2;
}

footer li>a{
    color: white;
    text-decoration: none;
}

footer select{
    color: white;
    border: 0;
    background-color: #ffffff00;
}
/* footer */
/* debug */

/* debug */