*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.clearfix::after{
    content: "" ; 
    clear:both; 
    display: table; 
}

body{
    font-family: "Ginto Nord", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;;
} 

.wrapper{
    width: 60%;
    margin: 0 auto;
}

.button{
    display: inline-block;
    border-radius: 20px;
    background-color: white     ;
}

.grigio{
    background-color: #f6f6f6;
}

.sinistra{
    float: left;
}

.destra{
    float: right;
}



.v-middle{
    vertical-align: middle;
}
/* common */

/* header */
header{
    height: 70px;
    width: 100%;
    background-color: #404EED;
}

header .wrapper{
   height: 100%;
   line-height: 70px;
}

header .wrapper>div:last-child{
   text-align: right;
   display: inline;
}


header img{
   vertical-align: middle;
}


nav,li{
    display: inline-block;
}
header .center{
    width: 70%;
    text-align: center;
}

header .sidebar{
    width: 15%;
}

nav li>a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
header .wrapper .button{
    padding: 0 10px;
    display: inline;
}

main .button{
    font-size: 20px;
    padding: 10px;
}
/* header */


/* banner */
.banner{
    width: 100%;
    position: relative;
}

.banner img{
    width: 100%;
    object-fit: cover;
}

.banner .wrapper{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate( -50%, -50%);
   width: 40%;
   color: white;
   text-align: center;
}


.banner .wrapper>h1,.banner .wrapper>p{
  margin: 20px;
}
.banner .wrapper>.button{
  margin: 10px;
}

.wrapper .button i{
    margin: 0 10px;
}

.banner .button {
   padding: 10px;
}

body > main > div > div > div:nth-child(3){
    color: black;
}
body > main > div > div > div:nth-child(4){
    background-color: black;
}


/* testo */
.testo>.bianco,
.testo>.grigio{
    padding: 20px 0;
    font-size: 1.5em;
}


.testo .text{
    /* width: 40%; */
    padding-top: 20px;
}

.grigio:last-child{
    text-align: center;
}

.grigio:last-child h3{
    background-image: url(../img/stars.svg);
    background-size: cover;
    display: block;
    width: 80%;
    margin: 20px auto;
}

.grigio:last-child .button{
   color: white;
   background-color: #5865f2;
}
/* testo */

/* banner */

/* footer */
footer{
    background-color: #23272A;
    color: white;
}

footer .wrapper:first-child i{
    margin: 0 10px 0 0 ;
}

footer .wrapper:first-child *{
    margin: 10px 0;
}

footer .wrapper:first-child li:first-child,footer .wrapper:first-child h3{
    color:#5865f2
}

footer .wrapper:first-child div{
    width: calc(60% / 4)
}

footer .wrapper:first-child div:first-child{
    width: 40%;
}

footer .wrapper:first-child div{
    display: inline-block;
    vertical-align: top;
}
footer li{
    display: block;
}

footer .wrapper:first-child{
    border-bottom: 2px solid blue;
}

footer .wrapper:last-child{
   padding: 20px 0;
   line-height: 39px;
}
footer .wrapper:last-child .button{
   padding: 0 20px;
   background-color: #5865f2;
}

footer li>a{
    color: white;
    text-decoration: none;
}

footer select{
    color: white;
    border: 0;
    background-color: #ffffff00;
}


/* bonus   */
.wave{
    background-image: url('data:image/svg+xml;utf8,<svg class="wave-1hkxOo" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" preserveAspectRatio="none"><path class="wavePath-haxJK1 animationPaused-2hZ4IO" d="M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z" fill="%23f6f6f6"></path></svg>');
    height: 50px;
} 
.rot{
    transform: rotate(0.5turn);
}
header{
    position: fixed;
    z-index: 999;
}
.banner{
    padding-top: 70px;
}

/* bonus   */

/* footer */
/* debug */

/* debug */